h1 {
    color: rgb(255, 0, 0);
    font-family: 'Lucida Sans';
    font-size: large
}

p {
    color: black;
    font-family: 'Lucida Sans';
    font-size: medium;
}

table {
    color: blue;
}

th {
    color: crimson;
    font-family: 'Lucida Sans';
    font-size: large;
}

td {
    color: crimson;
    font-family: 'Lucida Sans';
    font-size: medium;
}